<!--  any external file we link is called, static file. so this is a static file too --><!--  okay this file is for me to undersatnd the difference between get and post method  -->

<!--  i first made index.html with method = ""  this is by default method, when we use this get method is used automsticlly -->

<!--  let me explain what i undestood using it, when we use get method whatever we types is shown in the url and so that is not prefered when you have confidential data -->

<!--  post method hides your data, ehich is why when we use post methoid we need toprotect it with { % csrf_token % } -->
